[submodule "bundle/wombat"]
	path = bundle/wombat
	url = https://github.com/cschlueter/vim-wombat.git
[submodule "bundle/inkpot"]
	path = bundle/inkpot
	url = https://github.com/ciaranm/inkpot.git
[submodule "bundle/fugitive"]
	path = pack/ian/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/unimpaired"]
	path = pack/ian/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "bundle/vim-surround"]
	path = pack/ian/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-characterize"]
	path = pack/ian/start/vim-characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule "bundle/vim-speeddating"]
	path = pack/ian/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "bundle/vim-sleuth"]
	path = bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/vim-repeat"]
	path = pack/ian/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-vinegar"]
	path = pack/ian/start/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/molokai"]
	path = pack/ian/start/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "bundle/rust.vim"]
	path = pack/ian/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "bundle/vimtex"]
	path = pack/ian/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "bundle/vim-gutentags"]
	path = bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "bundle/vim-commentary"]
	path = pack/ian/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-one"]
	path = pack/ian/start/vim-one
	url = https://github.com/rakr/vim-one.git
[submodule "bundle/vim-bufkill"]
	path = pack/ian/start/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill.git
